.navlink::after {
  content: '';
  z-index: 0;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  transform: translateY(18px);
  transition: all;
  transition-duration: 500ms;
  height: 2px;
}

.navlink:hover::after {
  background: rgb(59, 130, 246);
}
