@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-margin-top: 2rem;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: rgb(248, 254, 255);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pop-in {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-1rem);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(1rem);
  }
  100% {
    transform: translateX(0);
  }
}

.slide-in-left {
  animation: slide-in-left 1s ease-out forwards;
}

.slide-in-right {
  animation: slide-in-right 1s ease-out forwards;
}

.fade-in {
  animation: fade-in 1s ease-out forwards;
}

.pop-in {
  animation: pop-in 100ms ease-out forwards;
}
